* {
  font-size: 1em;
  font-family: 'Spoqa Han Sans', 'Apple SD Gothic Neo', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: #ffffff;
  height: 100vh;
}

svg {
  display: flex;
  margin: auto;
}
